<div class="form">
    <div class="title">Welcome</div>
    <div class="subtitle">Let's create your account!</div>
    <form class="form-auth" action="/auth/signup" method="POST">
    <div class="input-container ic1">
          <input id="firstname" class="input" type="text" name="username" placeholder="username">
   </div>
   <div class="input-container ic2">
      <input id="email" class="input" type="email" name="email" placeholder="email">
   </div>
   <div class="input-container ic2">
      <input id="password" class="input" type="password" name="password" placeholder="password">
   </div>
         <button type="submit" class="submit">Submit</button>
   </form>
</div>

