<h1>List of battles</h1>

<ul>
    {{#each battles}}
    <li>
        <img src="{{this.imageUrl}}" alt="battle image" height="50px" width="80px">
        <a href="/battles/battle/{{_id}}">{{this.title}}</a>  
    </li>

    {{/each}}
</ul>

<a href="/battles/create-battle">Create battle</a>