<h1>List of battles</h1>

<ul>
    {{#each battles}}
    <li>
        <a href="/battles/battle/{{_id}}">{{this.title}}</a>  
    </li>

    <li>
        <form action="/battles/battles/delete/{{_id}}" method="POST">
        <button>Delete</button>
        </form>
    </li>
    {{/each}}
</ul>

<a href="/battles/create-battle">Create battle</a>