<h1>BATTLEEEE</h1>

<h2>{{battle.title}}</h2>
<img
  src="{{battle.imageUrl}}"
  onerror='this.src = "https://cdn-icons.flaticon.com/png/512/881/premium/881284.png?token=exp=1645372280~hmac=bb856e707757023683b870354ea7742c"'
/>
{{#if isowner}}
<li>
  <form action="/battles/battles/delete/{{battle._id}}" method="POST">
    <button>Delete</button>
  </form>
</li>
{{/if}}