<div class="memes-container">
    <h1 class="title-marker">List of battles</h1>
    {{#if loggedin}}
    <a href="/battles/create-battle" class="button-title">Create battle</a>
    {{/if}}
</div>

<div class="memes-container">
    {{#each battles}}
    <div class="card">
        <img class="image-meme" src="{{this.imageUrl}}" alt="battle image">
        <a class="text-black" href="/battles/battle/{{_id}}">{{this.title}}</a>
        {{#if isMine}}
        <div class="your-battle"><i class="fa-solid fa-user-check owner-button"></i></div>
        {{/if}}
    </div>
    {{/each}}
</div>