<h1>List of battles</h1>

<ul>
    {{#each battles}}
    <li>
        <a href="/battles/battle/{{_id}}">{{this.title}}</a>  
    </li>

    <form action="/battles/battles/{{_id}}/delete" method="POST">
    <button>Delete</button>
    </form>
    

    
    {{/each}}
</ul>

<a href="/battles/create-battle">Create battle</a>