<h1>Start a battle</h1>

<form action="/battles/create-battle" method="POST">
    <label>
        Battle name:
        <input type= "text" name = "title">
    </label>

    <label>
        Fire starter:
        <input type= "text" name = "imageUrl">
    </label>

    <button type="submit">Let's go!</button>




</form>