<h1 class="title-marker">Start a battle</h1>
<form action="/battles/create-battle" method="POST">

  
    <label class="subtitle-marker">
      Give it a title:

      <input type="text" name="title" required/>
 
    </label>
<h1 class="subtitle-marker">Choose from your collection</h1>
    <div class="memes-container">
    {{#each user.memes}}
      <div class="card">
        <img src="{{this.imageUrl}}" style="width: 300px" />
        <button type="submit" name="imageUrl" value="{{this.imageUrl}}" class="submit">Select </button>
      </div>
    {{/each}}
  </ul>

</form>