<h1>Homepage</h1>
<p>Welcome to Meme Warriors{{title}}</p>





<button >
    <a href="auth/signup">Signup</a>
</button>

<br>

<button>
    <a href="auth/login">Login</a>
</button>

<br>

<button>
    <a href="auth/logout">Logout</a>
</button>


