<h1>Homepage</h1>
<p><h1>{{username}}</h1> Welcome to Meme Warriors{{title}}</p>



{{#if loggedout}}

<button >
    <a href="/auth/signup">Signup</a>
</button>

<br>

<button>
    <a href="/auth/login">Login</a>
</button>


{{else}}

<button>
    <a href="/auth/logout">Logout</a>
</button>

{{/if}}

