<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- <meta http-equiv="refresh" content="3" > --}}
  <meta charset="utf-8" />
  <title>Meme Wars</title>
  <link rel="shortcut icon" href="/images/m-design-logo-09A5D82F03-seeklogo.com.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&display=swap"
    rel="stylesheet">
</head>

<body>
  {{>navbar this}}
  
    {{{ body }}}
  
<script src="https://kit.fontawesome.com/e28c527bf8.js" crossorigin="anonymous"></script>
<script  src="/scripts/upload-files.js"></script>
<script  src="/scripts/handleDom.js"></script>

</body>
</html>