<!-- views/layout.hbs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Meme Warriors</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&display=swap"
    rel="stylesheet">
  <script defer src="/scripts/handleDom.js"></script>
</head>

<body>
  {{>navbar this}}
  
    {{{ body }}}
  
<script src="https://kit.fontawesome.com/e28c527bf8.js" crossorigin="anonymous"></script>
</body>
</html>