<div class="memes-container">
    <h1 class="title-marker">List of memers</h1>
    {{#each users}}
    <div class="card user">
        <img class="profile-image" src="{{this.profilePic}}">
        <a href="/users/profile/{{_id}}" class="username">{{this.username}}</a>
        <p class="description">{{this.description}}</p>
    </div>
    {{/each}}
</div class="memes-container">