<div class="card-group">
    <div class="card">
        {{#each resultsArray}}
        <img class="card-img-top" style="width: 300px;" src="{{url}}" alt="" srcset="">
        <hr>
        {{/each}}
    </div>
</div>