body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(230, 82, 82);
}

a {
  color: #00B7FF;
}


.card img {
  height: 200px;
  object-fit: cover;
}