body {
  padding: 0;
  margin: 0;
  font: 400% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(141, 161, 161);
}


.users{
  list-style-type: none;
  text-decoration: none;
  
}



a {
  list-style-type: none;
  color: aliceblue;
  text-decoration: none;
  
}

.battles-list-title{
  color:black;
  border: solid 1px black;
}

.battles-list{
  list-style-type: none;
  color: aliceblue;
  text-decoration: none;
  margin-right: 60px;
}

.your-battle{
  color:black;
  font-size: 20%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: aliceblue;
}


<<<<<<< HEAD
.search-form input {
  height: 2vh;
}


.search-form button {
  height: 5vh;
  background-color: blueviolet;
  border-radius: 20px;
  color: aliceblue;
  font-size: 100%;
}

.navbar-links-container{
  display: flex;
  flex-direction: column;
  width: 35vw;
  background-color: aliceblue;
}

.nav-link{
  padding: 1vh;
  color: black;
}

=======
.form {
  background-color: #565b8a;
  border-radius: 20px;
  height: 500px;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}

.title {
  color: #eee;
  text-align: center;
  font-family: sans-serif;
  font-size: 9vw;
  font-weight: 600;
  margin-top: 20vh;
}

.subtitle {
  color: #eee;
  text-align: center;
  font-family: sans-serif;
  font-size: 6vw;
  font-weight: 600;
  margin-top: 25px;
}

.form-auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9vw;
  font-weight: 600;
  margin-top: 60px;

}

.input-container {
  height: 100px;
  position: relative;
  width: 50%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  text-align: center;
  font-size: 54px;
  outline: 0;
  padding: 4px 20px 0;
  height: 100%;
  width: 100%;
}


.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #08d;
  border-radius: 12px;
  padding: 40px 0px 40px 0;
  color: #eee;
  font-size: 54px;
  margin-top: 60px;
  width: 50%;
  height: 80%;
}


/*********AUTH VIEWS*********
****************************/
>>>>>>> 065d617db902d6e45fc2e4432b936d9a127c4486
