<h1>USER MEMES</h1>

<form action="{{_id}}" method= "POST" enctype="multipart/form-data">

    <label for="imageUrl">Image
    <input type="file" name="imageUrl" />
    </label>

    <button type="submit">Save changes</button>
</form>

<ul>
    {{#each user.memes}}
    <li>
        <img src="{{this.imageUrl}}" style="width: 300px">
    </li>
        <form action="/users/memes/delete/{{_id}}" method="POST">
        <button>Delete</button>
        </form>
    {{/each}}
</ul>

