<h1>USER MEMES</h1>

<form action="{{_id}}" method= "POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>

    <br>

    <label for="url">Image URL</label>
    <input type="text" name="imageUrl" id="imageUrl"/>

    <br>

    <button type="submit">Save changes</button>
</form>

<ul>
    {{#each user.memes}}
    <li>
        <img src="{{this.imageUrl}}" style="width: 300px">
        
    </li>
    {{/each}}
</ul>

